# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo

# Node.js
node_modules/
frontend/node_modules/
frontend/dist/

# Git and IDE files
.git/
.gitignore
.vscode/
.vs/

# Database and logs
*.sqlite3
*.log

# Docker files not required inside image
docker-compose.yml